<div class="mt-3">
  <div class="row border-bottom py-3">
    <div class="col-md-3"><label class="font-weight-bold">メールアドレス</label></div>
    <div class="col-md-9"><%= obj.email%></div>
  </div>
  <div class="row py-3">
    <div class="col-md-3"><label class="font-weight-bold">パスワード</label></div>
    <div class="col-md-9">事前に設定したパスワード</div>
  </div>
</div>

<% if session[:user_id].present? && session[:user_id] == obj.id %>
  <div class="text-right">
    <%= link_to "アカウント編集", edit_account_path, class: "btn btn-primary" %>
  </div>
<% end %>      
