<% if flash[:notice] %>
  <div class="alert alert-success mb-0" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>
  
<% if flash[:alert] %>
  <div class="alert alert-danger mb-0" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>
