<div class="row mt-3">
  <div class="col-md-5 p-1 text-center">
    <%= render "shared/user_img", obj: obj %>
  </div>
  <div class="col-md-7">
    <div class="row border-bottom py-3">
      <div class="col-md-3"><label class="font-weight-bold">名前</label></div>
      <div class="col-md-9"><%= obj.user_name %></div>
    </div>
    <div class="row py-3">
      <div class="col-md-3"><label class="font-weight-bold">自己紹介</label></div>
      <div class="col-md-9"><%= obj.user_intro %></div>
    </div>
  </div>
</div>

<% if session[:user_id].present? && session[:user_id] == obj.id %>
  <div class="text-right">
    <%= link_to "プロフィール編集", edit_profile_path, class: "btn btn-primary" %>
  </div>
<% end %>      


